*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 24px;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Source Sans Pro', sans-serif;

}
a, a:hover{
	text-decoration: none;
}

/*REEN Home Page start*/

/*Header section code start*/

.header-section{
	width: 100%;
}

.top-header{
	width: 100%;
	padding: 10px 0px;
	background: #f5f7fa;
	position: relative;
}

/*Top-Left icon start*/
.top-header .info-inner{
	display: block;
	margin: 0px;
}

.top-header .info-inner li{
	list-style: none;
	display: inline-block;
}
.top-header .info-inner li a{
	font-size: 14px;
	font-weight: 400;
	color: #506a85;
	margin-right: 15px;
}

.top-header .info-inner li a:hover{
	text-decoration: none;
}

.top-header .info-inner li a .fa{
	margin-right: 7px;
}
/*Top-Left icon end*/

/*Top-Social icon start*/
.top-header .social-icons{
	text-align: right;
	display: block;
	margin: 0px;
}

.top-header .social-icons li{
	list-style: none;
	display: inline-block;
}
.top-header .social-icons li a{
	font-size: 14px;
	font-weight: 400;
	color:#506a85;
	margin: 0px 0px 0px 10px;
}

.top-header .social-icons li a .fa{
	
}
/*Top-Social icon end*/

.header-section .bg-light {
	background: #fff !important;
}

.header-section .navbar-wrapper{
	width: 100%;
	position: relative;
	background: rgb(0, 0, 0, 0, .5);
	z-index: 15;
}

.isStuck{
    left:0px;
    width:100%;
    background: rgba(0, 0, 0, 0, 0.5) !important;
}

.header-section .navbar-expand-lg .navbar-nav {
    margin-left: 20px;
}


.header-section .navbar-light .navbar-nav .nav-link {
    color: #506a85;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0px 10px 0px 15px;
}

.header-section .navbar-light .navbar-nav .active>.nav-link{
    color: #506a85;
    font-weight: 400;
}

.header-section .navbar-light .navbar-nav .nav-link:focus,
.header-section .navbar-light .navbar-nav .nav-link:hover{
	color: #00bc9c;
}

.header-section .search-icon .fa{
	color:#506a85;
}

/*Slider section code start*/
.slider{
	width: 100%;
}

.slider .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 22%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.slider .carousel-caption h2{
	font-size: 58px;
	font-weight: 700;
	line-height: 68px;
	text-transform: uppercase;
	letter-spacing: 5px;

}
.slider .carousel-caption p{
	font-size: 17px;
	font-weight: 400;
	color:#a3b1bf;
}
.slider .carousel-caption .btn-info{
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 10px 35px;
	border-radius: 3px;
	border: 1px solid #00bc9c;
	background: #00bc9c;
	margin-top: 65px;
	transition: 1s;
}
.slider .carousel-caption .btn-info:hover,
.slider .carousel-caption .btn-info:focus{
	border: 1px solid #00bc9c;
	background: transparent;
}

/*who-we-are section css start*/
.who-we-are{
	width: 100%;
	padding: 130px 0px;
}

.who-we-are .title{
	width: 100%;
	text-align: center;
}
.who-we-are .title h2{
	font-size: 44px;
	font-weight: 700;
	margin-bottom: 25px;
	color: #506a85;
}
.who-we-are .title p{
	font-size: 22px;
	font-weight: 400;
	color: #73879c;
}
.who-we-are .media{
	margin-top: 40px;
}

.who-we-are .media .media-body{
	padding: 0px 10px;
}
.who-we-are .media .media-body h5{
	font-size: 26px;
	line-height: 36px;
	font-weight: 700;
	color:#506a85;
}
.who-we-are .media .media-body p{
	font-size: 16px;
	font-weight: 400;
	color: #73879c;
}
/*who-we-are section css end*/

/*Latest-works section css start*/
.latest-works{
	width: 100%;
	padding: 80px 0px;
	background: #f2f5f7;
}

.latest-works .title{
	width: 100%;
	margin-bottom: 40px;
	text-align: center;
}

.latest-works .title h2{
	font-size: 44px;
	font-weight: 700;
	color: #506a85;
}

.latest-works .title p{
	font-size:22px;
	font-weight: 400;
	margin-bottom: 80px;
	color:#73879c;
}
.latest-works .card{
	text-align: center;
	border-radius: 0px;
}

.latest-works .card .card-img-top {
    border-radius: 0px !important;
}
.latest-works .card .card-body .card-title{
	font-size: 20px;
	font-weight: 700;
	color: #506a85;
	margin-bottom: 10px;
}
.latest-works .card .card-body .card-text{
	font-size: 14px;
	font-weight: 400;
	color: #73879c;
	margin-bottom: 20px;
}

.latest-works .owl-carousel{
	margin-top: 50px;
}

.latest-works .owl-theme .owl-dots .owl-dot.active span, .latest-works .owl-theme .owl-dots .owl-dot:hover span {
    background: #00bc9c;
}

.latest-works .owl-theme .owl-dots .owl-dot{
	margin-top: 25px;
}
/*Latest-works section css end*/

/*get-in-touch section css start*/
.get-in-touch{
	width: 100%;
	padding: 80px 0px;
	text-align: center;
}
.get-in-touch .title{
	width: 100%;
}
.get-in-touch .title h2{
	font-size: 44px;
	font-weight: 700;
	color: #506a85;
}
.get-in-touch .title p{
	font-size: 22px;
	font-weight: 400;
	color: #73879c;
}

.get-in-touch .title .btn-info{
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 10px 35px;
	border-radius: 3px;
	
	background: #00bc9c;
	color: #fff;
	border: 1px solid #00bc9c;
	margin-top: 25px;
	transition: 1s;
}

.get-in-touch .title .btn-info:hover{
	background: transparent;
	color: #00bc9c;
	border: 1px solid #00bc9c;
}

/*get-in-touch section css end*/

/*wrapper section css start*/

.wrapper{
	width: 100%;
	padding: 25px 0px;

}
.wrapper .text{
	text-align: center;
}

.wrapper .text h2{
	font-size: 44px;
	font-weight: 700;
	color: #506a85;
	padding: 25px 0px;
}
.wrapper .filter{
	text-align: center;
	padding: 25px 0px;
}

.wrapper .filter .btn-info{
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 10px 35px;
	border-radius: 3px;
	
	background: #00bc9c;
	color: #fff;
	border: 1px solid #00bc9c;
	margin-top: 25px;
	transition: 1s;
}

.wrapper .filter .btn-info:hover, .wrapper .filter .btn-info:focus{
	background: transparent;
	color: #00bc9c;
	border: 1px solid #00bc9c;
}

.wrapper .filter .btn-info:active{
	background: transparent;
	color: #00bc9c;
	border: 1px solid #00bc9c;
}

.wrapper .portfolio .item{
	width: 100%;
	padding: 5px 5px;
	position: relative;
}

.wrapper .portfolio .item .item-hover{
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 136, 204, .8);
	text-align: center;
	transform: scale(0);
	transition: 0.3s;
}

/*wrapper section css end*/


/*animated counter css start*/


.animated-counter{
	width: 100%;
	padding: 50px 0px;
	background: #f2f5f7;
}

.animated-counter .counter{
	width: 100%;
	text-align: center;
}
.animated-counter .counter .fa{
	height: 100px;
	width: 100px;
	line-height: 100px;
	border-radius: 30px;
	font-size: 50px;
	color: #fff;
	background: grey;
}

.animated-counter .counter .fa-facebook{
	height: 100px;
	width: 100px;
	line-height: 100px;
	border-radius: 30px;
	font-size: 50px;
	color: #fff;
	background: grey;
}

.block-wrapper{ 
	margin-right: auto; 
	margin-left: auto; 
	width: 824px; 
}
  .block{ color:#019F9A; 
  	float: left; 
  	border: 3px solid #019F9A; 
  	padding-top: 40px; 
  	width: 180px; 
  	height: 160px; 
  	margin: 10px
  }
    .block p { 
    	margin: 0; 
    }
     .block p i{ 
     	font-size: 40px; 
     	color: #019F9A; 
     }
  .counter-wrapper{ 
  	font-weight:700; 
  	margin:5px 0px 5px 0px; 
  	font-size: 25px; }

  	.text-block{ 
  		font-size: 30px; 
  	}
/*animated counter css end*/


/*progressvar css start*/

	.progressbar{
		width: 100%;
		padding: 80px 0px;
	}

	.progressbar h2{
	font-size: 44px;
	font-weight: 700;
	color: #506a85;
	text-align: center;
	margin-bottom: 50px;
	}

	#example8{
		line-height: 50px;
	}

/*progressvar css end*/

/*footer-widget section css start*/
.footer-widget{
	width: 100%;
	padding: 40px 0px;
	background: #2f4052;
}

.footer-widget .widget{
	width: 100%;	
}
.footer-widget .widget h4{
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 20px;
}
.footer-widget .widget p{
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #a3b1bf;
	margin: 10px 0px;
}
.footer-widget .widget .link{
	color: #a3b1bf;
	font-size: 14px;
	font-weight: 700;
}
.footer-widget .widget .link:hover{
	text-decoration: none;
	color: #00bc9c;
}
.footer-widget .widget .link .fa{
	margin-left: 10px;
}
.footer-widget .widget .no-margin{
	padding-left: 10px;
	padding-right: 5px;
}

.footer-widget .widget .card{
	border: 0px solid rgba(0,0,0,.125);
    border-radius: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.footer-widget .widget .card-img, .card-img-top {
border-radius: 0px !important;
}

.footer-widget .widget .form-newsletter .form-input{
	position: relative;
	padding: 0px;
}

.footer-widget .widget .form-newsletter .form-input .form-control{
	font-size: 14px;
	background: #4e5c6c;
	color: #a3b1bf;
	padding-right: 80px;
	border:0px;
}

.footer-widget .widget .form-newsletter .form-input .form-control:focus{
	box-shadow: none;
}

.footer-widget .widget .form-newsletter .form-input .btn{
	position: absolute;
	width: 80px;
	top: 3px;
	right: 3px;
	background: #00bc9c;
	box-shadow: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;

}

/*footer-widget section css end*/

/*footer-bottom section css start*/
.footer-bottom{
	width: 100%;
	
}

.footer-bottom .footer-area{
	width: 100%;
	background: #283645;
}

.footer-bottom .footer-area .footer-left p{
	font-size: 14px;
	font-weight: 600;
	color: #707e8c;
	margin-bottom: 0px;
	display: inline-block;
	padding: 21px;
}
.footer-bottom .footer-area .footer-right ul{
	width: 100%;
	display: block;
	text-align: right;
	margin: 0px;
	padding: 17px 0px;
}
.footer-bottom .footer-area .footer-right ul li{
	display:inline-block;
	color: #707e8c;
} 
.footer-bottom .footer-area .footer-right ul li a{
	font-size: 14px;
	font-weight: 600;
	color: #707e8c;
	margin-right: 5px;
	margin-left: 5px;
}
.footer-bottom .footer-area .footer-right ul li a:hover{
	text-decoration: none;
	color: #00bc9c;
}
/*footer-bottom section css end*/


#myBtn {

  display: none;
  position: fixed;
  bottom: 7px;
  right: 7px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #3c5065;
  color: #949ba2;
  cursor: pointer;
  border-radius: 4px;
}

#myBtn i{
	height: 50px;
	width: 50px;
	padding: 12px;
	font-size: 20px;
	font-weight: 700;
}